/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #007c41; /* Set the background color */
  height: 100vh; /* Make sure the html and body are full viewport height */
  width: 100vw; /* Ensure they are also full viewport width */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  overflow: hidden; /* Prevent any scrolling caused by overflows */
}

.App {
  text-align: center;
  width: 100%; /* Full width to align with the parent styling */
}

.App-header {
  width: 100%; /* Ensures the header takes full width */
}

/* LoginForm Styles */
.login-form {
  width: 100%;
  max-width: 320px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  color: #333;
}

.login-form label {
  display: block; /* Change from float to display block for better control */
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Includes padding and border in the width */
  margin-bottom: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-form button:hover {
  background-color: #003d66;
}

/* Scrollable area for posts */
.scrollable-content {
  max-height: calc(100vh - 100px); /* Adjust based on header/footer size */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
}


/* Ensure scrollbars are visually appealing */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Styles for individual posts */
.post {
  background: white;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Responsive width */
  color: #333;
}

/* Styles for the comment section under each post */
.comment-section {
  margin-top: 20px;
}

.comment-input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Button styles common for commenting and posting */
button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #003d66;
}

/* Form for creating posts */
.create-post-form {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

